header.stAppHeader {
    background: rgba(255, 255, 255, 0);
}

div.stMainBlockContainer {
    padding-top: 0.1rem;
}

div.st-key-app_title div.stHeading {
    text-align: center;
}

div.st-key-app_title div.stHeading h1 {
    font-family: Source Sans Pro;
    line-height: 0.001;
    font-size: 35px;
    color: #ffff
}
